<!DOCTYPE html>
<html>
  {{>htmlHead}}
<body>

  {{> header}}

  <main class="main">
  {{{body}}}
  </main>

  {{> footer}}

  <script src="/js/main.js"></script>
  {{#if activePage.fruits}}<script src="/js/fruit-fav.js"></script>{{/if}}
</body>
</html>
