<section class="main__container--limited-width">
  <h1 class="main__title">FRUITS</h1>
</section>

<svg style="display: none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <symbol id="icon-heart" viewBox="0 0 32 32">
    <path d="M16.042 8.345c0 0-2-4.262-6.5-4.262-4.917 0-7.5 4.167-7.5 8.333 0 6.917 14 15.5 14 15.5s13.916-8.5 13.916-15.5c0-4.25-2.666-8.333-7.416-8.333s-6.5 4.262-6.5 4.262z"/>
  </symbol>
</svg>

<section class="main__container--full-width">
  <ul class="fruit__list" id="js-fruit-list">

    {{#each fruits}}

    <li class="fruit__item">
      <a class="fruit__link" href="/fruits/{{this}}"><div class="fruit__image" style="background-image: url(/images/fruits/{{this}}.jpg)"></div></a>
      <div class="fruit__info">
        <h2 class="fruit__name">{{capitalize this}}</h2>
        <svg class="fruit__fav-btn"><use id="js-fav-btn" xlink:href="#icon-heart"></use></svg>
      </div>
    </li>

    {{/each}}

  </ul>
</section>
