<section class="main__container--limited-width">
  <h1 class="main__title">HOME</h1>
  <p>Welcome to the fruit market web app.</p>
  <img class="home__hero" src="/images/fruit-market.jpg" alt="fruit market" />
</section>
