<section class="main__container--limited-width">
  <h1 class="main__title">{{uppercase singleFruit}}</h1>
  <img class="fruit__hero" src="../images/fruits/{{singleFruit}}.jpg" alt="{{singleFruit}}" />
</section>
