<header class="navbar">
  <div class="navbar__container">
    <nav class="navbar__nav" role="navigation">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="navbar__link {{#if activePage.home}}navbar__link--active{{/if}}" href="/">Home</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link {{#if activePage.fruits}}navbar__link--active{{/if}}" href="/fruits">Fruits</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
